$formaBgColor1: #5c3477;
$formaBgColor2: #7a3793;
$formaBgColor3: #9c36ae;
$formaBgColor4: #c22ec6;
$formaBgColor5: #eb12db;

.forma-bg {
  clip-path: polygon(100% 15%, 100% 70%, 0% 85%, 0% 30%);
  background-image: linear-gradient(
    to right top,
    $formaBgColor1,
    $formaBgColor2,
    $formaBgColor3,
    $formaBgColor4,
    $formaBgColor5
  );
}
@mixin mobile {
  @media (max-width: 768px) {
    font-size: 30px;
    clip-path: polygon(100% 15%, 100% 70%, 0% 85%, 0% 30%);
    background-image: linear-gradient(
      to right top,
      $formaBgColor1,
      $formaBgColor2,
      $formaBgColor3,
      $formaBgColor4,
      $formaBgColor5
    );
  }
}
